{% extends "geprapapp/base.html" %}
{% load static %}

{% block titulo %} Crear Metodo Pago {% endblock %}

{% block contenedor %}

<h3 style="text-align: center;">Agregar Método Pago</h3>
<br>

<div class="container" style="text-align: center;">
    <form action="{% url 'geprapapp:guardarMetodoPago' %}" method="post">
        {% csrf_token %}
        <label>Método Pago</label><br>
        <input type="text" class="form-control" name="metodo" id=""><br><br>
        
        <button type="submit">Enviar</button>
    </form>
</div>
{% endblock %}
