{% extends "geprapapp/base.html" %}
{% load static %}

{% block titulo %} Editar Rol {% endblock %}

{% block contenedor %}

<h2>Editar Rol</h2>

<form action="{% url 'geprapapp:editarRol' %}" method="post">
    {% csrf_token %}
    <label>Id</label><br>
    <input type="number" name="id" value="{{rol.id}}" readonly id=""><br><br>
    <label>Nombre</label><br>
    <input type="text" name="nombre" value="{{rol.nombre}}" id=""><br><br>
    
    <button type="submit">Enviar</button>

</form>
{% endblock %}
