{% extends "geprapapp/base.html" %}
{% load static %}

{% block titulo %} Listado de Roles {% endblock %}
{% block subtitulo %} Roles {% endblock %}

{% block contenedor %}
    <h1>Roles</h1>

    <a class="btn btn-warning" href="{% url 'geprapapp:formularioRol'%}">Agregar Rol</a><br><br>

    {% if messages %}

        {% for message in messages %}
        <div class="alert alert-{% if message.tags %}{{ message.tags }}{% else %}dark{% endif %}"role="alert">{{ message }}</div>
        {% endfor %}

    {% endif %}
    
    {% if datos %} 

        <table class="table table-striped" width="100%" border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Acción</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
        {% for t in datos %}
            <tr>
                <td>{{ t.id }}</td>
                <td>{{ t.nombre }}</td>
                <td><a href="{% url 'geprapapp:edicionRol' t.id%}" class="btn btn-primary">Editar</a></td>
                <td><a href="/geprapapp/eliminarRol/{{t.id}}" class="btn btn-danger">Eliminar</a></td>
            </tr>
        {% endfor %} 
            </tbody>
        </table>
    
    {% else %} 
        no hay datos 
    {% endif %} 

    
{% endblock %}