{% extends "geprapapp/base.html" %}
{% load static %}

{% block contenedor %}
<h3 style="text-align: center">Agregar Producto</h3>
<br>

<div class="container" style="text-align: center;">
    <form action="{% url 'geprapapp:guardarProducto' %}" method="post">
        {% csrf_token %}
        <label>Nombre</label><br>
        <input type="text" class="form-control" name="nombre" id=""><br>  

        <label>Descripción</label><br>
        <input type="text" class="form-control" name="descripcion" id=""><br>

        <label>Precio</label><br>
        <input type="number" class="form-control" name="precio" id=""><br><br>

        <label>Imagen</label><br>
        <input type="file" class="form-control" name="imagen" id=""><br><br>

        <label>Categoría</label><br>
        <select class="form-control" name="categoria">
            <option>Seleccione:</option>
            {% for c in cat %}
                <option value="{{ c.id }}">{{ c.nombre }}</option>
            {% endfor %}
        </select><br><br>

        <button type="submit">Enviar</button>
    </form>
</div>
{% endblock %}