{% extends "geprapapp/base.html" %}
{% load static %}

{% block titulo %} Crear Categoría {% endblock %}

{% block contenedor %}

<h3 style="text-align: center;">Agregar Categoría</h3>
<br>

<div class="container" style="text-align: center;">
    <form action="{% url 'geprapapp:guardarCategoria' %}" method="post">
        {% csrf_token %}
        <label>Nombre</label><br>
        <input type="text" class="form-control" name="nombre" id=""><br><br>
        <label>Descripción</label><br>
        <input type="text" class="form-control" name="descripcion" id=""><br><br>

        <button type="submit">Enviar</button>
    </form>
</div>
{% endblock %}