{% extends "geprapapp/base.html" %}
{% load static %}

{% block titulo %} Crear Permisos por Roles {% endblock %}

{% block contenedor %}

<h2>Agregar Permiso por Rol</h2>

<form action="{% url 'geprapapp:guardarPermisoRol' %}" method="post">
    {% csrf_token %}
    <label>Nombre Rol</label><br>
    <input type="text" name="nombreRol" id=""><br><br>
    <label>Nombre Permiso</label><br>
    <input type="text" name="nombrePermiso" id=""><br><br>

    
    <button type="submit">Enviar</button>

</form>

{% endblock %}
