{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}Software Geprap{% endblock %}</title>
    <link href="{% static 'geprapapp/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'geprapapp/css/style.css' %}">

    <link rel="icon" type="image/ico" href="{% static 'geprapapp/favicon/logoGeprapSolo.ico' %}">
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark"  style="background-color: rgb(60, 12, 99);">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'geprapapp:index' %}"><img src="{% static 'geprapapp/img/logoFinal-01.png' %}" alt=""> {% block subtitulo %}{% endblock %}</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto w-100 justify-content-end mb-2 mb-lg-0">
              {% if request.session.logueo.1 == 'A' %}
                <li class="nav-item">
                  <a class="nav-link active" href="{% url 'geprapapp:listarUsuarios' %}">Usuarios</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="{% url 'geprapapp:listarCategoria' %}">Categoría</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="{% url 'geprapapp:listarProductos' %}">Productos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="{% url 'geprapapp:listarServicio' %}">Servicios</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="{% url 'geprapapp:listarPedidos' %}">Pedidos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="{% url 'geprapapp:listarDetallePedidos' %}">Detalle Pedidos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="{% url 'geprapapp:listarAgenda' %}">Agenda</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="{% url 'geprapapp:listarMetodoPago' %}">Metodos Pago</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="{% url 'geprapapp:listarPagos' %}">Pagos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="{% url 'geprapapp:listarEvaluaciones' %}">Evaluación</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="{% url 'geprapapp:listarGarantias' %}">Garantía</a>
                </li>

              {% elif request.session.logueo.1 == 'O' %}
                <li class="nav-item">
                  <a class="nav-link active" href="{% url 'geprapapp:listarPedidos' %}">Pedidos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="{% url 'geprapapp:listarDetallePedidos' %}">Detalle Pedidos</a>
                </li>
                

              {% elif request.session.logueo.1 == 'I' %}
                <li class="nav-item">
                  <a class="nav-link active" href="{% url 'geprapapp:listarUsuarios' %}">Usuarios</a>
                </li>  
                <li class="nav-item">
                  <a class="nav-link active" href="{% url 'geprapapp:listarPedidos' %}">Pedidos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="{% url 'geprapapp:listarDetallePedidos' %}">Detalle Pedidos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="{% url 'geprapapp:listarAgenda' %}">Agenda</a>
                </li>
                

              {% elif request.session.logueo.1 == 'C' %}
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'Tienda' %}">Tienda</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'geprapapp:listarUsuarios' %}">Mis datos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'geprapapp:listarPedidos' %}">Mis pedidos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'geprapapp:listarDetallePedidos' %}">Detalle Pedidos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'geprapapp:formularioEvaluacion' %}">Evaluación</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'geprapapp:formularioGarantia' %}">Garantía</a>
              </li>

              {% else %}
                <li class="nav-item">
                  <a class="nav-link active" href="{% url 'geprapapp:index' %}">Principal</a>
                </li>
                
                <li class="nav-item">
                  <a class="nav-link active" href="#footer-Content">Contáctanos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="#">Registrarse</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active"> <img src="{% static 'geprapapp/img/carrito.png' %}" style="width:30px;cursor:pointer" id="carrito" data-toggle="modal" data-target="#exampleModal"></a>
                </li>
              {% endif %} 
            </ul>

            <div class="d-flex" role="search">
              {% if request.session.logueo %}
                <p style="color: white;">Bienvenid@ {{ request.session.logueo.0 }}</p> 
                <a href="{% url 'geprapapp:logout' %}" class="btn btn-success">Logout</a>
              {% else %}
                <a href="{% url 'geprapapp:loginFormulario' %}" class="btn btn-warning">Login</a>
              {% endif %}
            </div> 
            
          </div>
        </div>
      </nav>

      {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags != 'error' %}{{ message.tags }}{% elif message.tags == 'error' %}danger{% endif %}" role="alert">{{ message }}</div>
        {% endfor %}
      {% endif %}

      {% block contenedor %} --------------- {% endblock %}

    <script src="{% static 'geprapapp/js/jquery-3.6.1.min.js' %}"></script>
    <script src="{% static 'geprapapp/js/popper.min.js' %}"></script>
    <script src="{% static 'geprapapp/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'geprapapp/js/libreria.js' %}"></script>

    <!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Tu carro esta vacio, primero logueate
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script> 
$("#carrito").click(function(){
  $("#exampleModal").modal();
})
</script>
</body>
</html>
   
